@model MTGCollection.Models.Card
@using MTGCollection.Util

@{
    ViewData["Title"] = "Cadastrar";
}

<h1>Create</h1>

<h4>Card</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
                <button class="btn btn-light"><i class="fab fa-searchengin"></i></button>
            </div>
            <div class="form-group">
                <label asp-for="ManaCost" class="control-label"></label>
                <input asp-for="ManaCost" class="form-control" />
                <span asp-validation-for="ManaCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type" class="form-control" asp-items="Html.GetEnumSelectList<EnumTypes>()"><option style="display:none">Selecione um tipo</option></select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lore" class="control-label"></label>
                <input asp-for="Lore" class="form-control" />
                <span asp-validation-for="Lore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Collection" class="control-label"></label>
                <input asp-for="Collection" class="form-control" />
                <span asp-validation-for="Collection" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Power" class="control-label"></label>
                <input asp-for="Power" class="form-control" />
                <span asp-validation-for="Power" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Toughness" class="control-label"></label>
                <input asp-for="Toughness" class="form-control" />
                <span asp-validation-for="Toughness" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <select asp-for="Color" class="form-control" asp-items="Html.GetEnumSelectList<EnumColors>()"><option style="display:none">Selecione uma cor</option></select>
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Loyalty" class="control-label"></label>
                <input asp-for="Loyalty" class="form-control" />
                <span asp-validation-for="Loyalty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Side" class="control-label"></label>
                <input asp-for="Side" class="form-control" />
                <span asp-validation-for="Side" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
