@model MTGCollection.Models.Card
@using MTGCollection.Util

@{
    ViewData["Title"] = "Cadastrar";
}

<h1>Create</h1>

<h4>Card</h4>
<div>
    <a asp-action="Index">Back to List</a>
</div>
<hr />
<div class="row" id="card-form">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <div class="input-group">
                    <input asp-for="Name" class="form-control" id="nome" />
                    <div class="input-group-append">
                        <button type="button" class="btn btn-dark" onclick="BuscarDetalhes()"><i class="fab fa-searchengin"></i></button>
                    </div>
                </div>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" id="quantity" value="1" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManaCost" class="control-label"></label>
                <input asp-for="ManaCost" class="form-control" id="manaCost" />
                <span asp-validation-for="ManaCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type" class="form-control" asp-items="Html.GetEnumSelectList<EnumTypes>()" id="card-type"><option style="display:none">Selecione um tipo</option></select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" id="originalText" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lore" class="control-label"></label>
                <input asp-for="Lore" class="form-control" id="flavorText" />
                <span asp-validation-for="Lore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Collection" class="control-label"></label>
                <input asp-for="Collection" class="form-control" id="set" />
                <span asp-validation-for="Collection" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Power" class="control-label"></label>
                <input asp-for="Power" class="form-control" id="power" />
                <span asp-validation-for="Power" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Toughness" class="control-label"></label>
                <input asp-for="Toughness" class="form-control" id="toughness" />
                <span asp-validation-for="Toughness" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <select asp-for="Color" class="form-control" asp-items="Html.GetEnumSelectList<EnumColors>()" id="card-color"><option style="display:none">Selecione uma cor</option></select>
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Loyalty" class="control-label"></label>
                <input asp-for="Loyalty" class="form-control" id="loyalty" value="0" />
                <span asp-validation-for="Loyalty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Side" class="control-label"></label>
                <input asp-for="Side" class="form-control" />
                <span asp-validation-for="Side" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" id="image" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <div>
            <img id="card-image" src="" />
        </div>
    </div>
</div>


<script type="text/javascript">

    function BuscarDetalhes() {
    $.ajax({
        type: "GET",
        url: '@Url.Action("GetCardInfo", "Cards")',
        data: { name: $("#nome").val() },
        success: function (result) {
            if (!(result.value.length > 0)) {
                return;
            }

            $('#manaCost').val(result.value[0].manaCost);
            $('#originalText').val(result.value[0].originalText);
            $('#flavorText').val(result.value[0].flavor);
            $('#set').val(result.value[0].setName);
            $('#power').val(result.value[0].power);
            $('#toughness').val(result.value[0].toughness);
            $('#image').val(result.value[0].imageUrl);
            $('#card-type').val(result.value[0].types[0]);

            if (result.value[0].IsMulticolor == true) {
                $('#card-color').val("Multicolor");
            } else if (result.value[0].colors.length == 1) {
                $('#card-color').val(result.value[0].colors[0]);
            } else if (result.value[0].IsColorless == true) {
                $('#card-color').val("Colorless");
            }

            if (result.value[0].loyalty > 0) {
                $('#loyalty').val(result.value[0].loyalty);
            }

            $('#alert-s').removeAttr('hidden');
            $('#card-image').attr("src", result.value[0].imageUrl);
        },
        error: function (result) {
            console.log("erro");
        }
    });
}
</script>

@{ 
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
