@model MTGCollection.Models.Card
@using MTGCollection.Util

@{
    ViewData["Title"] = "Cadastrar";
}

<h1>Create</h1>

<h4>Card</h4>
<div>
    <a asp-action="Index">Back to List</a>
</div>
<hr />
<div class="row" id="card-form">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <div class="input-group">
                    <input asp-for="Name" class="form-control" id="nome" />
                    <div class="input-group-append">
                        <button type="button" class="btn btn-dark" onclick="BuscarDetalhes()"><i class="fab fa-searchengin"></i></button>
                    </div>
                </div>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">Qtd.</label>
                        <input asp-for="Quantity" class="form-control" id="quantity" value="1" />
                        <span asp-validation-for="Quantity" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="ManaCost" class="control-label"></label>
                        <input asp-for="ManaCost" class="form-control" id="manaCost" />
                        <span asp-validation-for="ManaCost" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Type" class="control-label"></label>
                        <select asp-for="Type" class="form-control" id="card-type">
                            <option style="display:none">Selecione um tipo</option>
                            <option value="0">Artifact</option>
                            <option value="1">Conspiracy</option>
                            <option value="2">Creature</option>
                            <option value="3">Enchantmen</option>
                            <option value="4">Instant</option>
                            <option value="5">Land</option>
                            <option value="6">Phenomenon</option>
                            <option value="7">Plane</option>
                            <option value="8">Planeswalk</option>
                            <option value="9">Scheme</option>
                            <option value="10">Sorcery</option>
                            <option value="11">Tribal</option>
                            <option value="12">Vanguard</option>
                        </select>
                        <span asp-validation-for="Type" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Collection" class="control-label"></label>
                        <input asp-for="Collection" class="form-control" id="set" />
                        <span asp-validation-for="Collection" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="Power" class="control-label"></label>
                        <input asp-for="Power" class="form-control" id="power" />
                        <span asp-validation-for="Power" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="Toughness" class="control-label"></label>
                        <input asp-for="Toughness" class="form-control" id="toughness" />
                        <span asp-validation-for="Toughness" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Color" class="control-label"></label>
                        <select asp-for="Color" class="form-control" id="card-color">
                            <option style="display:none">Selecione uma cor</option>
                            <option value="0">Red <i class='mana small sr'></i></option>
                            <option value="1">Blue</option>
                            <option value="2">Black</option>
                            <option value="3">Green</option>
                            <option value="4">White</option>
                            <option value="5">Colorless</option>
                            <option value="6">Multicolor</option>
                        </select>
                        <span asp-validation-for="Color" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" id="originalText" rows="5"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lore" class="control-label"></label>
                <textarea asp-for="Lore" class="form-control" id="flavorText" rows="2"></textarea>
                <span asp-validation-for="Lore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Loyalty" class="control-label"></label>
                <input asp-for="Loyalty" class="form-control" id="loyalty" value="0" />
                <span asp-validation-for="Loyalty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Side" class="control-label"></label>
                <input asp-for="Side" class="form-control" />
                <span asp-validation-for="Side" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" id="image" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <div>
            <img id="card-image" src="~/images/back.jpg" width="265" height="370" />
        </div>
    </div>
</div>


<script type="text/javascript">

    window.onload = function () {
        if (!($('#image').val() == "")) {
            $('#card-image').attr("src", result.value[0].imageUrl);
        }
    }

    function BuscarDetalhes() {
    $.ajax({
        type: "GET",
        url: '@Url.Action("GetCardInfo", "Cards")',
        data: { name: $("#nome").val() },
        success: function (result) {

            $('#manaCost').val(result.manaCost);
            $('#originalText').val(result.description);
            $('#flavorText').val(result.lore);
            $('#set').val(result.collection);
            $('#power').val(result.power);
            $('#toughness').val(result.toughness);
            $('#image').val(result.image);
            $('#card-type').val(result.type);
            $('#card-color').val(result.color);
            $('#loyalty').val(result.loyalty);
            $('#card-image').attr('src', result.image == null ? "../images/back.jpg" : result.image );

            $('#alert-s').removeAttr('hidden');

            setTimeout(function () { $('#alert-s').fadeOut('slow'); }, 3000);
        },
        error: function (result) {
            console.log("erro");
        }
    });
}
</script>

@{
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
