/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.tooltip.show {
    opacity: 1 !important;
}

.card-tooltip {
    mix-blend-mode: screen !important;
}

#alert-s {
    position: absolute;
    top: 0;
    right: 0;
}

#card-color {
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

    #card-color option[value="Red"] {
        background: rgba(204, 0, 0, 0.3);
    }

    #card-color option[value="Blue"] {
        background: rgba(0, 102, 204, 0.3);
    }

    #card-color option[value="Black"] {
        background: rgba(32, 32, 32, 0.3);
        color: white;
    }

    #card-color option[value="Green"] {
        background: rgba(0, 204, 102, 0.3);
    }

    #card-color option[value="White"] {
        background: #e5e5e5;
        color: black;
    }

    #card-color option[value="Colorless"] {
        background: rgba(250, 250, 250, 0.3);
    }

    #card-color option[value="Multicolor"] {
        background: rgba(153, 153, 0, 0.3);
    }
